.account {
  width: 1.57em;
  height: 1em;
  fill: initial;
}
.facebook {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.g-plus {
  width: 1.57em;
  height: 1em;
  fill: initial;
}
.hero-logo {
  width: 5.07em;
  height: 1em;
  fill: initial;
}
.kiwi {
  width: 1.22em;
  height: 1em;
  fill: #C6C6C6;
}
.map {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.twitter {
  width: 1.29em;
  height: 1em;
  fill: initial;
}